-# coding: UTF-8

.container
  .row-fluid
    %h1 squid request hit ratio

  %table#dataTable.table.table-striped.table-hover.tablesorter
    %thead
      %tr
        %td IP
        %td squid
    %tbody
      -@data.each do |ip,data|
        %tr
          %td
            =ip
          %td
            = haml :'_squid', :locals => { :squid_data => data['squid'] }


%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"}
%script{:src => "/js/__jquery.tablesorter.min.js"}
%script{:src => "/js/donuts.js"}
:javascript
  window.prettyPrint && prettyPrint();

  $(document).ready(function() 
    { 
        $("#dataTable").tablesorter(); 
    } 
  );
